/* overall layout */
.container {
  margin: auto;
  width: 50%;
  padding: 10%;
}

.center {
    text-align: center;
  }

 /* grid */
.grid-container {
	display: inline-grid;
	grid-template-columns: 120px 120px 120px;
    grid-template-rows: 120px 120px 120px;
	padding: 30px;
}

.grid-item {
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 35px;
	font-size: 50px;
	text-align: center;
}
